@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: retro;
  src: url(../retro.ttf);
}

@font-face {
  font-family: var;
  src: url(../var.woff2);
}
*{
::selection{
  color:blue
};
}
body {
  font-family: retro;
}

@layer components {
  .background {
    @apply bg-[#C4BCB2] text-zinc-900;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}



::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}